body {
  padding: 30px;
  font-family: "Signika Negative", sans-serif;
}
#Today {
  color: #5b5b5a;
  font-style: oblique;
}

h1 {
  font-size: 100px;
  color: #413932;
  text-transform: capitalize;
}
#qualification {
  color: #5b5b5a;
  text-transform: capitalize;
}

#date {
  color: #5b5b5a;
  font-size: 15px;
}
#feeling {
  font-size: 24px;
  color: #5b5b5a;
}
#temp {
  font-size: 24px;
  color: #5b5b5a;
}
#details {
  color: #5b5b5a;
  font-style: oblique;
}
#currenttemprature {
  color: #413932;
}

.header {
  display: block;
  margin: 0 auto;
  position: fixed;

  font-weight: 400;
}

.header-icon {
  text-align: center;
  font-size: 30px;
  color: rgb(170, 244, 244);
}
.currentbox {
  position: relative;
  right: -10px;
  text-align: center;
}
#currentcard {
  background: linear-gradient(0.45turn, #fafafa, #9abee2, #5a7da9);
  height: 650px;
}

#predictionforcast {
  height: 650px;
}

#measure {
  display: block;
  position: relative;
  top: -10px;
  font-size: 13px;
  color: #5a5654;
}

.current-icon {
  font-size: 100px;
}
.containerbox {
  position: relative;
  left: -20px;
}
.searchbox {
  display: block;
  margin: 0 auto;
}
.btn-secondary {
  display: block;
  margin: 0 auto;
  width: 500px;
}
.weekdaysbox {
  display: block;
  margin: 0 auto;
}
.days {
  text-align: center;
}
.hourbox {
  display: block;
  margin: 0 auto;
}
.hours {
  text-align: center;
}
