body {
  padding: 10px;
  font-family: "Signika Negative", sans-serif;
}

.temprature.active {
  color: #5b5b5a;
  cursor: default;
}
.temprature.active:hover {
  text-decoration: none;
}
#searching {
  display: block;
  margin-left: auto;
  width: 450px;
  left: -20px;
}
#searchingresult {
  text-align: center;
}

#header {
  color: #5b5b5a;
  font-style: oblique;
  font-size: 13px;
}

h1 {
  font-size: 100px;
  color: #413932;
  text-transform: capitalize;
}
#country {
  line-height: 0.2;
  font-size: 10px;
  color: #413932;
  text-transform: capitalize;
}
#qualification {
  color: #5b5b5a;
}
#qualification.firstletter {
  text-transform: capitalize;
}

#date {
  line-height: 1.2;
  font-weight: 600;
  color: #5b5b5a;
  font-size: 14px;
}

#feeling {
  font-size: 21px;
  color: #5b5b5a;
}
#temp {
  font-size: 24px;
  color: #5b5b5a;
}
#details {
  color: #5b5b5a;
  font-style: oblique;
}

#currenttemprature {
  color: #413932;
}

.currentbox {
  display: block;
  margin: 0 auto;
  right: 170px;
}
#currentcard {
  background: linear-gradient(0.45turn, #fafafa, #9abee2, #5a7da9);
  height: 550px;
  width: 600px;
}

#predictionforcast {
  display: block;
  margin: 0 auto;
  height: 700px;
  width: 600px;
}

#measure {
  display: block;
  position: relative;
  top: -10px;
  font-size: 13px;
  color: #5a5654;
}

.current-icon {
  font-size: 100px;
}
.containerbox {
  display: block;
  margin: 0 auto;
  right: 170px;
  text-align: center;
}
.searchbox {
  display: inline-flex;
  width: 600px;
  font-size: smaller;
}

.btnid1 {
  display: inline-block;
  width: fit-content;
  left: 10px;
}
.btnid2 {
  display: inline-block;
  width: max-content;
  left: -40px;
}
.wd {
  font-size: 9px;
  font-weight: 600;
}
.days {
  height: 150px;
  font-size: 10px;
  font-weight: 500;
}
.pfcards {
  left: -10px;
  height: 100px;
  width: 80px;
}
.wcard:hover {
  background-color: #e2ebf3;
}

.btnid {
  display: block;
  margin-right: auto;
}

.hourbox {
  display: block;
  margin: 0 auto;
}
.hours {
  text-align: center;
  font-size: 10px;
}

#source {
  text-align: center;
  font-size: 10px;
}
